.navigation {
  transition: .3s all;
  background: #1f2532 !important;
  padding: 1rem 0;

  & .logo {
    width: 150px;
  }

  &.nav {
    display: flex;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .nav-sign {
    align-items: center;
  }

  .nav-menu {
    margin-left: 5rem;
  }

  .nav-sign-in {
    border-left: 3px solid #31BB9E;
  }

  .nav-link {
    color: #5C5E65;
    font-size: 23px;
    padding-left: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #31BB9E;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #31BB9E;
}

.navbar-dark .navbar-nav .nav-link:focus-visible {
  color: #31BB9E;
  outline: none;
}

.dropdown {
  & .dropdown-toggle {
    border: none;
    height: 35px;
    width: 50px;
    background-image: linear-gradient(90deg, #52C2A6 0%, #249d84 100%);
    opacity: 0.85;
    transition: 0.5s ease;
    margin: 0 0.5rem;
  }

  & :hover {
    opacity: 1;
  }

  & :focus {
    box-shadow: 0 0 20px 0 #52C2A6 !important;
  }

  & :focus-visible {
    outline: none;
  }

  & .dropdown-menu {
    min-width: 50px !important;
    background-color: #2B2B31;
    border-bottom: 5px solid #52C2A6;
    border-radius: 0.25rem;

    & .dropdown-item {
      display: block;
      padding: 0.25rem 0.9rem;
      font-weight: bold;
      color: #5C5E65;
      width: fit-content;
    }

    & .dropdown-item:hover {
      color: #52C2A6;
      background-color: transparent;
    }

    & .dropdown-item:focus {
      color: #52C2A6;
      background-color: transparent;
      box-shadow: none !important;
    }

    & .dropdown-item:active {
      color: #52C2A6;
      background-color: transparent;
    }
  }
}

.dropdown-menu.show {
  left: 8px !important;
  margin: 0.3rem 0;
  border-radius: 0.25rem;
  max-height: 45px;
  border: none;
}

@media (max-width: 992px) {
  .nav-menu {
    margin-left: 0 !important;
  }
  .navigation .nav-sign {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .dropdown .dropdown-toggle {
    min-width: 60px;
  }
  .show .dropdown {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .dropdown-menu.show {
    width: 60px !important;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown .dropdown-menu .dropdown-item {
    padding: 0 1rem;
  }
}